#semesters {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 5px;
}

#semester-misc {
    grid-column: 1 / end;
}

.semester {
    width: calc(100% - 40px);
    padding: 20px;
    background-color: rgb(230, 230, 230);
}

.semester.highlighted {
    background-color: rgb(200, 200, 200);
}

.semester.add {
    background-color: rgb(240, 240, 240);
    background-image: url("/images/plus.svg");
    background-repeat: no-repeat;
    background-position: center center;
}
.semester.add:hover {
    background-color: rgb(230, 230, 230);
}

.semester h2 {
    margin: 0;
}

.course {
    background-color: grey;
    width: 200px;
    max-width: 100%;
    user-select: none;
}

.add-course  {
    width: 30px;
}

.add-course.hidden {
    display: none;
}

.add-course {
    display: flex;
    flex-direction: row;
}

.course-number-input {
    width: 40px;
}