/* Global font */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

h1 {
    text-align: center;
}

/* Button styles */
.base-button {
    border: none;
    background-color: unset;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    transition: background-color 0.5s;
}

.base-button .button-image {
    width: 60%;
    height: 60%;
}

.base-button .button-image path {
    fill: grey;
    transition: fill 0.5s;
}

.add-button.add-course, 
.delete-button.delete-semester {
    width: 20px;
    height: 20px;
}

.delete-button.delete-course {
    width: 16px;
    height: 16px;
}

.add-button:hover {
    background-color: green !important;
}

.add-button:hover path,
.delete-button:hover path {
    fill: rgb(255, 255, 250);
}

.delete-button:hover {
    background-color: red !important;
}

/* Input */
select {
    font-family: inherit;
}

/* Page specific styles */
#schedule-view {
    width: 800px;
    margin: auto;
}

#semesters > * {
    min-height: 200px;
    width: 100%;
    background-color: rgb(245, 245, 245);
}

#semesters > .highlighted {
    background-color: rgb(230, 230, 230);
}

#semesters {
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 10px));
    grid-gap: 10px;
}

#semester-misc {
    grid-column: 1 / 5;
}

#semester-misc .course-container {
    display: grid;
    grid-template-columns: repeat(4, 190px);
    grid-column-gap: 10px;
}

.semester-header {
    text-align: center;
    display: flex;
    align-items: center;
}

.semester-header {
    background-color: rgb(255, 255, 250);
}

.semester-header h2 {
    font-size: 20pt;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.header-divider {
    height: 2px;
    margin-bottom: 5px;
    background-color: rgb(200, 200, 200);
}

.course-container {
    padding: 5px 0;
}

.course,
.plan-item > button {
    background-color: rgb(255, 255, 250);
    width: 160px;
    min-height: 16px;
    user-select: none;
    padding: 4px;
    margin: 2px auto;
    border: solid rgb(200, 200, 200) 1px;
    border-left-width: 3px;
}

.plan-item > button {
    cursor: pointer;
}

.plan-item > button:hover,
.plan-item:not(.collapsed) > button {
    background-color: rgb(230, 230, 230);
}

.plan-item.satisfied > button {
    border-left-color: green;
}

.plan-item > .plan-items {
    margin-left: 3px;
}

.plan-item.collapsed > .plan-items {
    display: none;
}

.course.dragging {
    opacity: 0.75;
    position: absolute;
}

.course.ahs {
    border-left-color: rgb(0, 152, 165);
}

.course.art {
    border-left-color: rgb(217, 63, 0);
}

.course.engineering {
    border-left-color: rgb(87, 5, 139);
}

.course.environment {
    border-left-color: rgb(96, 112, 0);
}

.course.math {
    border-left-color: rgb(223, 36, 152);
}

.course.science {
    border-left-color: rgb(0, 115, 206);
}

.course button {
    float: right;
    width: 16px;
    height: 16px;
}

.course:not(:hover) button {
    visibility: hidden;
}

form.add-course.hidden {
    display: none;
}

form.add-course {
    width: 175px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

form.add-course .separator {
    width: 5px;
}

form.add-course button {
    width: 16px;
    height: 16px;
}

.course-number-input {
    width: 50px;
}

div.clickable {
    position: relative;
}

div.clickable span.clickable {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

div.clickable button {
    z-index: 2;
}

.separator {
    margin-left: auto;
}