/* Global font */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

/* Button styles */
.base-button {
    border: none;
    background-color: unset;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.base-button .button-image-container {
    width: 100%;
    height: 100%;
}

.base-button.large .button-image-container {
    width: 30%;
    height: 30%;
}

.button-image {
    width: 100%;
    height: 100%;
}

/* Input */
select {
    font-family: inherit;
}

/* Page specific styles */
#schedule-view {
    width: 800px;
    margin: auto;
}

#semesters,
#schedules {
    display: grid;
    grid-template-columns: repeat(4, 190px);
    grid-gap: 10px;
}

#semester-misc {
    grid-column: 1 / end;
}

#semester-misc .course-container {
    display: grid;
    grid-template-columns: repeat(4, 190px);
    grid-gap: 10px;
}

.semester,
.schedule {
    min-height: 200px;
    width: 100%;
    background-color: rgb(240, 240, 240);
}

.semester.highlighted {
    background-color: rgb(220, 220, 220);
    
}

.semester-header {
    text-align: center;
    background-color: rgb(255, 255, 250);
}

.semester-header h2 {
    font-size: 20pt;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.semester-header button {
    float: right;
}

.header-divider {
    height: 2px;
    margin-bottom: 5px;
    background-color: rgb(200, 200, 200);
}

.course {
    background-color: rgb(255, 255, 250);
    width: 160px;
    min-height: 16px;
    user-select: none;
    padding: 4px;
    margin: 2px auto;
    border: solid rgb(0, 63, 181) 1px;
    border-left-width: 3px;
}

.course button {
    float: right;
    width: 16px;
    height: 16px;
}

.add-course.hidden {
    display: none;
}

.add-course {
    width: 190px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.add-course .separator {
    margin-left: auto;
}

.add-course button {
    width: 16px;
    height: 16px;
}

.course-number-input {
    width: 50px;
}

div.clickable {
    position: relative;
}

div.clickable span.clickable {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}